In [32]:
import pandas
import configparser
import psycopg2

In [33]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [34]:
conn = psycopg2.connect(
                            host = host,
                            user = user,
                            password = pwd,
                            dbname = db)

In [39]:
cur = conn.cursor()

In [40]:
sql = """insert into student(s_email,s_name,major)
         values( '{}', '{}', '{}')
          """.format('s5@jmu.edu','s5','IA')

print(sql)

insert into student(s_email,s_name,major)
         values( 's5@jmu.edu', 's5', 'IA')

In [41]:
cur.execute(sql)

In [42]:
conn.commit()

In [44]:
sql = """
           select * from student
       """
df = pandas.read_sql_query(sql, conn)
df[:10]

/tmp/ipykernel_9515/2419589579.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql, conn)

      s_email s_name major
0  s1@jmu.edu     s1    IA
1  s2@jmu.edu     s2    IA
2  s3@jmu.edu     s3  ISAT
3  s4@jmu.edu     s4  ISAT
4  s5@jmu.edu     s5    IA

In [45]:
cur.close()
conn.close()